@charset "UTF-8";
/* 蓝色主题 */

body {
	background-color : #09f;
	text-align : center;
}
.frames{
	background-color : #09f;
}
.login {
	margin : 0 auto;
	width : 40%;
}
.prompt {
	color : black;
	font-bold : bold;
	text-align : left;
}
.warning {
	color : red;
	text-align : left;
}
.warning:hover {
	color : red;
	text-align : left;
}
.input {
	width : 200px;
	height : 20px;
}
.logo {
	width : 300px;
	height : 150px;
	float : center;
}
.sendarea {
	width : 100%;
	height : 100%;
}
.send {
	border-radius : 5px 5px 0 0;
	width : 100%;
	resize : none;
	background-color : #0cf;
	color : black;
	line-height : 20px;
}
.send_foot { 
	width: 99%; 
	height: auto; 
	border-top: 1px solid #06c; 
	background-color: #06c;
	border-radius: 0 0 5px 5px; 
	position: absolute; 
} 
.meme_sel, .meme_sel:hover {
	float : left;
	margin : 5px;
	border-style : none;
	width : 35px;
	height : 35px;
	cursor : pointer;
}
.meme_sel {
	background : url(../img/em/emicon.png);
	background-color : transparent;
	background-repeat : no-repeat;
	background-size : 100% 100%;
}
.meme_sel:hover {
	background : url(../img/em/emicon_hover.png);
	background-color : transparent;
	background-repeat : no-repeat;
	background-size : 100% 100%;
}
.meme_sel:active {
	background : url(../img/em/emicon_active.png);
	background-color : transparent;
	background-repeat : no-repeat;
	background-size : 100% 100%;
}
.meme_sel:focus {
	outline : none;
}
.meme {
	width : 40px;
	height : 40px;
}
.memeshow {
	width : 50px;
	height : 50px;
	cursor : pointer;
}

.smalllogo {
	float : center;
	width : 90%;
	opacity : 0;
}
.smalllogo:hover {
	opacity : 0.5;
}
.smalllogo:active {
	opacity : 1;
}

.userlist {
	text-align : left;
	font-family : 楷体;
	font-size : 30px;
	line-height : 40px;
	width : 100%;
}
.userlistheader {
	font-size : 40px;
	color : black;
}
.userdispmini {
	font-size : 30px;
	width : 100%;
}
.myuserdispmini {
	font-size : 35px;
	font-weight : 700;
	width : 100%;
}
.messagedisp {
	text-align : left;
	width : 100%;
}
.mymessagedisp {
	text-align : right;
	width : 100%;
}
.strangewords, .userdispmini, .userdispminipriv, .myuserdispmini, .messagedisp, .mymessagedisp {
	color : black;
}
.strangewords:active, .userdispmini:active, .myuserdispmini:active ,.messagedisp:active, .msgd:active, .mymessagedisp:active {
	color : blue;
}
/*.mymessagedisp .msgd , .mymessagedisp .msgdhl, .mymessagedisp .msgdf {
	text-align : left;
	float : right;
}*/
.msgdhl:hover {
	color : yellow;
}
.msgdhl:active {
	color : black;
	background-color : yellow;
}
.userdispminipriv:hover {
	color : red;
	opacity : 1;
	font-weight : 600px;
}
.userdispminipriv:active {
	color : red;
	background-color : white;
	font-weight : 600px;
	opacity : 1;
}

.avatar {
	width : auto;
	height : 30px;
	float : right;
	margin : auto;
}
.myuseravatar {
	width : 100%;
	height : auto;
}